name: CI

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      CI: y

    steps:
    - uses: actions/checkout@v2
      with:
        repository: bauhausphp/contributor-tool

    - name: Setup
      run: make setup pkg=middleware-chain branch=$(echo ${GITHUB_REF#refs/heads/})

    - name: Tests
      run: make tests pkg=middleware-chain
